@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: #4036ED;
}
.header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
.header .nav .nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .nav .nav-ul-li {
  list-style: none;
  margin: 0px 30px;
}
.main-section {
  background-color: #4036ED;
  display: flex;
  flex-direction: row;
  padding: 4em 8em 12em 8em;
  margin-bottom: 4em;
}
.main-section-arr1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.main-section-div {
  color: #fff;
  margin-top: 6em;
}
.main-section-div-title1 {
  font-size: 60px;
  margin: 0;
}
.main-section-div-title2 {
  font-size: 90px;
  margin: 0;
}
.main-section-div-info {
  width: 40%;
  margin: 0;
}
.main-section-join {
  margin-top: 4em;
}
.main-section-join-title {
  color: #FFF;
}
.main-section-join-form {
  display: flex;
  flex-direction: column;
  width: 20em;
}
.main-section-join-form-item {
  margin: 0.3em;
  height: 2.5em;
  border-radius: 5px;
  border: none;
}
.main-section-join-form-name {
  margin: 0.3em;
  height: 2.5em;
  border-radius: 5px;
  border: none;
}
.main-section-join-form-email {
  margin: 0.3em;
  height: 2.5em;
  border-radius: 5px;
  border: none;
}
.main-section-join-form-submit {
  background-color: #FBB91C;
  color: #4036ED;
  font-weight: bold;
}
.main-section-join-form-submit:hover {
  cursor: pointer;
  background-color: #f4ad04;
}
.main-section-arr2-img {
  width: 20em;
}

.about-section {
  background-image: url("./img/Vector42.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #4036ED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 8em;
  margin-bottom: 4em;
}
.about-section-arr1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-section-arr2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-section-img {
  width: 40%;
}
.about-section-title {
  font-size: 40px;
  text-align: center;
}
.about-section-info {
  text-align: center;
  width: 40%;
}

.services-section {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FF6668;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4em 8em;
}
.services-section-background {
  position: absolute;
  z-index: -1;
  margin: 0;
}
.services-section-title {
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-self: center;
}
.services-section-div {
  display: flex;
  flex-direction: row;
}
.services-section-div-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 5em;
}
.services-section-div-first-img {
  width: 80%;
}
.services-section-div-first-main {
  text-align: center;
}
.services-section-div-first-p {
  text-align: center;
  width: 15em;
}
.services-section-div-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 5em;
}
.services-section-div-second-img {
  width: 80%;
}
.services-section-div-second-main {
  text-align: center;
}
.services-section-div-second-p {
  text-align: center;
  width: 15em;
}
.services-section-div-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 5em;
}
.services-section-div-third-img {
  width: 80%;
}
.services-section-div-third-main {
  text-align: center;
}
.services-section-div-third-p {
  text-align: center;
  width: 15em;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FBB91C;
  padding: 4em 8em;
  color: black;
}
.contact-section-title {
  font-size: 40px;
}
.contact-section-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-section-div-first-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20em;
}
.contact-section-div-first-form-item {
  margin: 0.3em;
  height: 2.5em;
  border-radius: 5px;
  border: none;
  width: 20em;
}
.contact-section-div-first-form-name {
  margin: 0.3em;
  height: 2.5em;
  border-radius: 5px;
  border: none;
}
.contact-section-div-first-form-email {
  margin: 0.3em;
  height: 2.5em;
  border-radius: 5px;
  border: none;
}
.contact-section-div-first-form-submit {
  color: #FFF;
  background-color: #4036ED;
  font-weight: bold;
  width: 20em;
}
.contact-section-div-first-form-submit:hover {
  cursor: pointer;
  background-color: #251aea;
}
.contact-section-div-second-info {
  text-align: center;
  width: 30em;
}

@media all and (max-width: 420px) {
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  .header {
    background-color: #4036ED;
  }
  .header .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFF;
  }
  .header .nav .nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .header .nav .nav-ul-li {
    list-style: none;
    margin: 0px;
  }
  .header .nav .nav-ul-inicio {
    display: none;
  }
  .header .nav .nav-ul-nosotros {
    display: none;
  }
  .header .nav .nav-ul-servicios {
    display: none;
  }
  .header .nav .nav-ul-contacto {
    display: none;
  }
  .main-section {
    background-color: #4036ED;
    display: flex;
    flex-direction: column;
    padding: 4em 2em 12em 2em;
    margin-bottom: 4em;
  }
  .main-section-arr1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-section-div {
    color: #fff;
    margin-top: 6em;
  }
  .main-section-div-title1 {
    font-size: 20px;
    margin: 0;
  }
  .main-section-div-title2 {
    font-size: 40px;
    margin: 0;
  }
  .main-section-div-info {
    width: 100%;
    margin: 0;
  }
  .main-section-join {
    margin-top: 4em;
    margin-bottom: 2em;
  }
  .main-section-join-title {
    color: #FFF;
  }
  .main-section-join-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
    margin: 0 auto;
  }
  .main-section-join-form-item {
    margin: 0.3em;
    height: 2.5em;
    border-radius: 5px;
    border: none;
    width: 20em;
  }
  .main-section-join-form-submit {
    background-color: #FBB91C;
    color: #4036ED;
    font-weight: bold;
  }
  .main-section-join-form-submit:hover {
    cursor: pointer;
    background-color: #f4ad04;
  }
  .main-section-arr2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-section-arr2 img {
    width: 80%;
  }
  .about-section {
    background-image: url("./img/Vector42.png");
    background-position: center;
    background-repeat: no-repeat;
    color: #4036ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 2em 4em 2em;
    margin-bottom: 4em;
  }
  .about-section-arr1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-section-arr2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-section-img {
    width: 70%;
  }
  .about-section-title {
    font-size: 40px;
    text-align: center;
  }
  .about-section-info {
    text-align: center;
    width: 80%;
  }
  .services-section {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FF6668;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4em 8em;
  }
  .services-section-background {
    position: absolute;
    z-index: -1;
    margin: 0;
  }
  .services-section-title {
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-self: center;
  }
  .services-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .services-section-div-first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .services-section-div-first-img {
    width: 50%;
  }
  .services-section-div-first-main {
    text-align: center;
  }
  .services-section-div-first-p {
    text-align: center;
    width: 15em;
  }
  .services-section-div-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .services-section-div-second-img {
    width: 50%;
  }
  .services-section-div-second-main {
    text-align: center;
  }
  .services-section-div-second-p {
    text-align: center;
    width: 15em;
  }
  .services-section-div-third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .services-section-div-third-img {
    width: 50%;
  }
  .services-section-div-third-main {
    text-align: center;
  }
  .services-section-div-third-p {
    text-align: center;
    width: 15em;
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBB91C;
    padding: 4em 8em;
    color: black;
  }
  .contact-section-title {
    font-size: 40px;
  }
  .contact-section-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-section-div-first-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20em;
  }
  .contact-section-div-first-form-item {
    margin: 0.3em;
    height: 2.5em;
    border-radius: 5px;
    border: none;
    width: 20em;
  }
  .contact-section-div-first-form-submit {
    color: #FFF;
    background-color: #4036ED;
    font-weight: bold;
    width: 20em;
  }
  .contact-section-div-first-form-submit:hover {
    cursor: pointer;
    background-color: #251aea;
  }
  .contact-section-div-second-info {
    text-align: center;
    width: 20em;
  }
}/*# sourceMappingURL=style.css.map */