body {
  margin: 0 8em;
  background-color: #4036ED;
}

.header {
  background-color: #4036ED;
}
.header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
.header .nav .nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .nav .nav-ul-li {
  list-style: none;
  margin: 0px 30px;
}
.main-section {
  background-color: #4036ED;
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}
.main-section-div {
  color: #fff;
  margin-top: 6em;
}
.main-section-div-title1 {
  font-size: 60px;
  margin: 0;
}
.main-section-div-title2 {
  font-size: 90px;
  margin: 0;
}
.main-section-div-info {
  width: 40%;
  margin: 0;
}
.main-section-join {
  margin-top: 4em;
}
.main-section-join-title {
  color: #FFF;
}
.main-section-join-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}
.main-section-join-form-name {
  width: 75%;
  height: 2em;
  border-radius: 5px;
  border: none;
  margin: 0.3em;
}
.main-section-join-form-name::-moz-placeholder {
  color: #999;
}
.main-section-join-form-name::placeholder {
  color: #999;
}
.main-section-join-form-email {
  width: 75%;
  height: 2em;
  border-radius: 5px;
  border: none;
  margin: 0.3em;
}
.main-section-join-form-email::-moz-placeholder {
  color: #999;
}
.main-section-join-form-email::placeholder {
  color: #999;
}
.main-section-join-form-submit {
  width: 25%;
  background-color: #352CDA;
  color: #fff;
  height: 2em;
  border-radius: 5px;
  border: none;
  margin-top: 0.8em;
}
.main-section-arr2-img {
  width: 20em;
}

.about-section {
  color: #FFF;
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  align-items: center;
}
.about-section-arr2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}
.about-section-background {
  position: absolute;
  z-index: -1;
  margin: 0;
}
.about-section-img {
  width: 200%;
}
.about-section-title {
  font-size: 40px;
  text-align: right;
}
.about-section-info {
  text-align: right;
  width: 40%;
}

.services-section {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
.services-section-background {
  position: absolute;
  z-index: -1;
  margin: 0;
}
.services-section-title {
  font-size: 40px;
  text-align: center;
}
.services-section-div {
  display: flex;
  flex-direction: row;
}
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
  margin-top: 3em;
  margin-bottom: 5em;
}
.contact-section-title {
  font-size: 40px;
}
.contact-section-div {
  display: flex;
  flex-direction: row;
}
.contact-section-div-first {
  width: 150%;
}
.contact-section-div-first-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}
.contact-section-div-first-form-name {
  width: 75%;
  height: 2em;
  border-radius: 5px;
  border: none;
  margin: 0.3em;
}
.contact-section-div-first-form-name::-moz-placeholder {
  color: #999;
}
.contact-section-div-first-form-name::placeholder {
  color: #999;
}
.contact-section-div-first-form-email {
  width: 75%;
  height: 2em;
  border-radius: 5px;
  border: none;
  margin: 0.3em;
}
.contact-section-div-first-form-email::-moz-placeholder {
  color: #999;
}
.contact-section-div-first-form-email::placeholder {
  color: #999;
}
.contact-section-div-first-form-submit {
  width: 25%;
  background-color: #352CDA;
  color: #fff;
  height: 2em;
  border-radius: 5px;
  border: none;
  margin-top: 0.8em;
}/*# sourceMappingURL=style.css.map */