$blue: #4036ED;

body{
    margin: 0 8em;
    background-color: $blue;
}

@mixin noMargin {
    margin: 0;
}


//Sección dedicada al header ----------------------
.header{
    background-color: $blue;

    .nav{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #FFF;

        .nav-ul{

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &-li{
                list-style: none;
                margin: 0px 30px;
            }

            &-inicio{

            }

            &-nosotros{
                
            }

            &-logo{
                
            }

            &-servicios{
                
            }

            &-contacto{
                
            }
        }
    }
}

//Sección dedicada al primer section ----------------------
.main-section{
    background-color: $blue;
    display: flex;
    flex-direction: row;
    margin-top: 1em;


    &-div{

        color: #fff;
        margin-top: 6em;

        &-title1{
            font-size: 60px;
            @include noMargin();
        }

        &-title2{
            font-size: 90px;
            @include noMargin();
        }

        &-info{
            width: 40%;
            @include noMargin();
        }

    }

    &-join{

        margin-top: 4em;
       
        &-title{
            color: #FFF;
        }

        &-form{
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: left;

            @mixin input(){
                width: 75%;
                height: 2em;
                border-radius: 5px;
                border: none;
                margin: 0.3em;

                &::placeholder{
                 color: #999;   
                }
            }

            &-name{
                @include input();
            }

            &-email{
                @include input();
            }

            &-submit{
                width: 25%;
                background-color: #352CDA;
                color: #fff;
                height: 2em;
                border-radius: 5px;
                border: none;
                margin-top: 0.8em;
            }
        }
    }

    &-arr2{
        &-img{
            width: 20em;
        }
    }
}

//Sección dedicada al segundo section ----------------------
.about-section{
    color: #FFF;
    display: flex;
    flex-direction: row;
    margin-top: 5em;

    align-items: center;

    &-arr1{

    }

    &-arr2{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
    }

    &-background{
        position: absolute;
        z-index: -1;
        margin: 0;
    }

    &-img{
        width: 200%;
    }

    &-title{
        font-size: 40px;
        text-align: right;
    }

    &-info{
        text-align: right;
        width: 40%;
    }
}

//Sección dedicada al tercer section ----------------------
.services-section{
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    margin-top: 5em;

    &-background{
        position: absolute;
        z-index: -1;
        margin: 0;
    }
    &-title{
        font-size: 40px;
        text-align: center;
    }
    &-div{
        display: flex;
        flex-direction: row;

        &-first{
         
            &-img{

            }

            &-p{

            }
        }

        &-second{
         
            &-img{

            }

            &-p{
                
            }
        }

        &-third{
         
            &-img{

            }

            &-p{
                
            }
        }
    }
}

//Sección dedicada al último section ----------------------

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    color: #FFF;
    margin-top: 3em;
    margin-bottom: 5em;
    &-title{
        font-size: 40px;
    }

    &-div{
        display: flex;
        flex-direction: row;

        &-first{

            width: 150%;
        
            &-form{

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: left;

                @mixin input(){
                    width: 75%;
                    height: 2em;
                    border-radius: 5px;
                    border: none;
                    margin: 0.3em;

                    &::placeholder{
                     color: #999;   
                    }
                }

                &-name{
                    @include input();
                }

                &-email{
                    @include input();
                }

                &-submit{
                    width: 25%;
                    background-color: #352CDA;
                    color: #fff;
                    height: 2em;
                    border-radius: 5px;
                    border: none;
                    margin-top: 0.8em;
                }
            }
        }

        &-second{

            &-info{
                
            }
        }
    }
}